---
import Example from '../components/Example.vue';
import Layout from '../layouts/Layout.astro';
import { slide, fade } from "astro:transitions";

---

<Example client:load />

<Layout title="PabloGiraldo">
	<main>
  <div class="relative isolate overflow-hidden bg-gray-00 py-24 sm:py-32">
  <img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/435181327_309572238814603_1034781684877158459_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGNjdw9SjouTbOrNRI6lgaoq9bHuCmcc6Sr1se4KZxzpK9ZLxECdIO8BUC6SA6-e8AINv1r1mdtdR2F7IgoFnrl&_nc_ohc=viRpyIwlKY8Ab4Ldhtr&_nc_ht=scontent.feoh3-1.fna&oh=03_AdUaqDCjfzT_6p6X9m4DBVuNOefsuWXU2WXMbEhWyAyffw&oe=66382070&auto=format&fit=crop&crop=focalpoint&fp-y=.8&w=2830&h=1500&q=80&blend=111827&sat=-100&exp=15&blend-mode=multiply" alt="PabloGiraldo2021" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-70" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white text-center sm:text-5xl mb-12 ease-in duration-300 hover:scale-110">About Me</h2>
    <div class=" m-8 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <img class="w-[32rem] h-[28rem] opacity-100 max-w-none rounded-3xl shadow-xl object-contain ring-gray-100/10 -ml-40" src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/277438310_1197504414387667_4287389780080970237_n.jpg?stp=dst-jpg_p2048x2048&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHL0sDVsHlNySqPoGp9YnQcXGCKNpA5S4xcYIo2kDlLjDsRD45NkypsG8bZTbNsRck9FvGwVmemHnR-7Y2B1cqf&_nc_ohc=gjLf7CA790UAb5IlyHy&_nc_ht=scontent.feoh3-1.fna&oh=03_AdUH1HZKPPsl8IirXvNVYXgjdIeLChRWrHm3M8ymAJ_E7Q&oe=661E8DA5" alt="PicAboutMe">
    </div>
      <p class="mt-6 text-2xl leading-8 text-gray-300">I'm a frontend developer, exploring the 3D website animations and their visual impact.</p>
      <p class="mt-6 text-2xl leading-8 text-gray-300">Currently studying software engineering to understand how it all works behind, however, every time I get more and more interested about the mathematical concepts.</p>
      <p class="mt-6 text-2xl leading-8 text-gray-300">I've also graduated as a software development technician; it has given me a solid foundation in web development, object-oriented programming, logic and algorithms; but once again, I strongly believe that the deeper understanding of mathematics allows you to play and model problems and their solutions in the technological world we live in today.</p>
      <p class="mt-6 text-2xl leading-8 text-gray-300">I'm in Medellin, Colombia, continuing my studies, focusing on growing professionally and living with this little guy who spends his life with me, my dear cat, Bruce. </p>
      <img class="mt-8 w-[10rem] h-[12rem] max-w-none rounded-full bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[12rem]" src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/434870055_1816365992176059_627668167544754774_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHLRrhR0N-Fqy4tJKHRCYO6YE5AC7KSMTtgTkALspIxO0a3TEFG_4IzalIHTSOB0q_GEU1-G5kYG3lJLVyFQfWx&_nc_ohc=w-Gq3f8puCkAb6p0YRF&_nc_ht=scontent.feoh3-1.fna&oh=03_Q7cD1QHjhbpFZ6Nmje329ffZALMg5DLcx9F3mp5StQCo4xkCbQ&oe=66454045" alt="">
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-10 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
        <a href="/#projects" class="text-3xl ease-in duration-100 ease-in duration-100 hover:scale-125" >Projects <span aria-hidden="true">&rarr;</span></a>
        <a href="/#experience" class=" hover:animate-flip-vertical text-3xl ease-in duration-100 hover:scale-125">Experience <span aria-hidden="true">&rarr;</span></a>
        <a href="/#studies" class="text-3xl ease-in duration-100 hover:scale-125">Studies <span aria-hidden="true">&rarr;</span></a>
      </div>
      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
      </dl>
    </div>
  </div>
</div>
	</main>
</Layout>
