---

---

 <div class="py-12 bg-white contactContainer">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Contact Me</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          Get in touch
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          If you have any questions or inquiries, feel free to reach out to me. I'll get back to you as soon as possible!
        </p>
      </div>
      <div class="mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Your Name</label>
            <input type="text" id="name" name="name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2 border-slate-950">
          </div>
          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <input type="email" id="email" name="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2 border-slate-950">
          </div>
        </div>
        <div class="mt-6">
          <label for="message" class="block text-sm font-medium text-gray-700 ">Message</label>
          <textarea id="message" name="message" rows="5" class="mt-1 focus:ring-indigo-500 border-2 border-slate-950 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md " ></textarea>
        </div>
        <div class="mt-6">
          <button class="bg-indigo-900 text-white hover:bg-gray-400 hover:text-gray-900 font-bold py-2 px-4 rounded-2xl">
            Send message
          </button>
        </div>
      </div>
    </div>
  </div>

<style>

.contactContainer {
    animation-timeline: view(block);
    animation-name: shrink;
}

@keyframes shrink {
    from {
        width: 100%;
        scale: 0.6;
        opacity: 0.6;
    }
    to {
        width: calc(40% - 2.5px);
        scale: 1;
        opacity: 1;
    }
}


</style>