---
---

<footer>
	<hr/>
<div>
    <span>
        &copy; Portafolio {new Date().getFullYear()} <span
            aria-hidden="true"
            class="hidden md:inline"></span>
        <br aria-hidden="true" class="block md:hidden" /> Juan Pablo Jaramillo Giraldo.
    </span>
</div>
	<hr/>
</footer>