<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32"  id="projects">
  <div class="absolute inset-0 -z-10 overflow-hidden">
    </svg>
  </div>
  <div class=" mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10"  transition:animate="fade">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[108.5625rem] bg-gradient-to-tr from-[#B4A6C9] to-[#1D1726] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="-mt-20 -mb-20 w-[50rem] h-[100%] max-w-7xl px-6 lg:px-8 sm:py-32 sm:mx-auto">
      <div class="carousel-wrapper">
    <span id="item-1">
		<a href="https://lapland-zone.vercel.app/" class="button-link">
			Visit
		</a></span>
    <span id="item-2">
		<a href="https://cascos-landing.vercel.app/" class="button-link">
			Visit
		</a></span>
    <span id="item-3"><a href="https://atom-model.vercel.app/" class="button-link">
			<img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/437369950_802240571314030_4657425463135914279_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGctdLTaMtNvuGGIPVp9WlVdQNcope0CEZ1A1yil7QIRrbAdcIpXdCrMQcIX75XL4-WO8jKyIc8y23hh_-4tqzI&_nc_ohc=8O1fN4C2tsoAb6D57i5&_nc_ht=scontent.feoh3-1.fna&oh=03_Q7cD1QErHJADlh0IvWH0FBjjhZobVITypeex6N2ecfFEJIxIuQ&oe=664551F4" alt="">
			Visit
		</a></span>
    <span id="item-4"><a href="https://skybox-modeling.vercel.app/" class="button-link">
			<img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/434997285_1759516644539620_1668137813982040004_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHdMafy0Ck-Kh19w-0zHNas2cMU9t72C-nZwxT23vYL6ZsABA34oXsHKJWoJcxN2GgyxRfMa0PC4lG0B4mUIUPt&_nc_ohc=eSyedeo_sKcAb4Z2VUl&_nc_ht=scontent.feoh3-1.fna&oh=03_Q7cD1QG96gIMU_5Ik_AjtGZ_Ci494uvUnyvtqriq8KCJunHAbA&oe=66452D76" alt="">
			Visit
		</a></span>
    <span id="item-5"><a href="https://sine-waves-texture.vercel.app/" class="button-link">
			<img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/401285452_734514155243555_4032143602299812364_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFTX_8lQuhrUopb5KaWwzxB68HtccQW6Vrrwe1xxBbpWlahlokVMW0Cb71ZT6bhJRbhQKJ3EqWJ4-Bb1ukWnJC-&_nc_ohc=rTqrSkeuK6QAb510aCO&_nc_ht=scontent.feoh3-1.fna&oh=03_Q7cD1QEr-EazmdM3Rr453vPvYsFIhSaxfrfrL_di8HGY3ajrNw&oe=6645462A" alt="">
			Visit
		</a></span>
    <span id="item-6"><a href="https://sine-waves-texture.vercel.app/" class="button-link">
			<img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/401285452_734514155243555_4032143602299812364_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFTX_8lQuhrUopb5KaWwzxB68HtccQW6Vrrwe1xxBbpWlahlokVMW0Cb71ZT6bhJRbhQKJ3EqWJ4-Bb1ukWnJC-&_nc_ohc=rTqrSkeuK6QAb510aCO&_nc_ht=scontent.feoh3-1.fna&oh=03_Q7cD1QEr-EazmdM3Rr453vPvYsFIhSaxfrfrL_di8HGY3ajrNw&oe=6645462A" alt="">
			Visit
		</a></span>
    <div class="carousel-item item-1">
      <a href="#item-3" class="arrow-prev arrow"></a>
      <a href="#item-2" class="arrow-next arrow"></a>
    </div>

    <div class="carousel-item item-2">
      <a href="#item-1" class="arrow-prev arrow"></a>
      <a href="#item-3" class="arrow-next arrow"></a>
    </div>

    <div class="carousel-item item-3">
      <a href="#item-2" class="arrow-prev arrow"></a>
      <a href="#item-4" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-4">
      <a href="#item-3" class="arrow-prev arrow"></a>
      <a href="#item-5" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-5">
      <a href="#item-4" class="arrow-prev arrow"></a>
      <a href="#item-6" class="arrow-next arrow"></a>
    </div>
    <div class="carousel-item item-6">
      <a href="#item-5" class="arrow-prev arrow"></a>
      <a href="#item-1" class="arrow-next arrow"></a>
    </div>

  </div>
  </div>
</div>

<style>
.carousel-wrapper {
  height: 30rem;
  object-fit: contain;
  position: relative;
  left: 5rem;
  width: 50rem;
  display: block;
  margin: 50px auto;
  border: 2px solid black;
}


.carousel-item {
  position: absolute;	
  object-fit: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}
.arrow{
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
 object-fit: contain;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('/src/img/projectsImg/lapland_banner.jpg');
}
.item-2 {
  background: url('/src/img/projectsImg/helmet.png');
  background-size: cover;
}
.item-3 {
  background: url('/src/img/projectsImg/atom.jpg');
  background-size: cover;
}

.item-4 {
  background: url('/src/img/projectsImg/skybox.jpg');
  background-size: cover;
}

.item-5 {
  background: url('/src/img/projectsImg/logi.jpg');
  object-fit: cover;
  background-size: cover;
}
.item-6 {
  background: url('/src/img/projectsImg/Captura de pantalla 2023-09-12 064312.jpg');
  background-size: cover;
}
/*.item-3 {
  background: url('/src/img/projectsImg/atom.jpg');
  background-size: cover;
}*/

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6 {
  z-index: 3;
  opacity: 1;
} 
</style>