---

---
<div class="relative isolate overflow-hidden bg-gray-00 py-24 sm:py-32 ">
  <img src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.15752-9/434644210_955643569306051_6082831786322119846_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeE9L9V5tAjPCWUlpkN74YSWP9t6crYQowk_23pythCjCVuPuc0u4zQb0D0jCW197fh8J1QGs1s6t7s4pQLzioxG&_nc_ohc=kQ2CBk73pHUQ7kNvgFwCdpq&_nc_zt=23&_nc_ht=scontent.feoh3-1.fna&_nc_gid=AeH8pFF38M-l8oxVJV0TCa3&oh=03_Q7cD1QErLeZYcmyf6vZVaEibgkw98EUx6o9advKipIF3TZ4XvA&oe=674A0D2F" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
  <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#1D1726] to-[#776fff] opacity-70" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
    <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-wide text-white text-center sm:text-5xl mb-12 ease-in duration-200 hover:scale-125" id="studies">Studies</h2>
      <p class="mt-6 text-2xl leading-8 text-gray-300">I've completed my Software Development Technician from CESDE institute in 2023; having proeficency in web development, front end skills, OOP and database managment. </p>
      <p class="mt-8 mb-8 text-2xl leading-8 text-gray-300">Currently, I'm continuing my career as a software engineer at ITM College, here in Medellin CO.</p>
      <p class="mt-8 text-2xl leading-8 text-gray-300">I've always had an extreme passion for visual design and front-end skills but recently I've developed a huge love for several mathematical branches as calculus, geometry and algebra.</p>
      <p class="mt-8 text-2xl leading-8 text-gray-300">I want to continue keeping inmerge on these topics, I really enjoy spending time on them in practice; then the algorithms are not so hard</p>
    </div>
    </div>
  </div>
</div>

<style>

</style>
